body {
    display: grid;
    grid-template-areas:
        "header header ads1"
        "ads2 smallHeader ads1"
        "ads2 article ads1"
        "footer footer footer";
    grid-template-columns: minmax(100px, 10%) 1fr minmax(100px, 10%);
    grid-template-rows: 80px minmax(50px, auto) auto 80px;
    background-color: #f6f6f6;
    height: auto;
    min-height: 100vh;
    margin: 0;
}

.block {
    background-color: #ffffff;
    border-radius: 3px;
    margin: 3px;
    box-shadow: 0 10px 15px rgba(220,220,220,255);
}

#header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    position: sticky;
    top: 0;
    overflow: clip;
}

.yellowMassageDiv {
    max-width: 200px;
    max-height: 27px;
    overflow: hidden;
}

.yellowMassage {
    background-color: #fbcd44;
    border-radius: 3px;
    display: inline;
}

.right {
    float: right;
}

.navBar {
    max-height: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover{
    background-color: #fbcd44;
}

.ads {
    align-content: center;
    text-align: center;
}

#ads1 {
    grid-area: ads1;
    padding-top: 80px;
}

#ads2 {
    grid-area: ads2;
}

.image {
    width: 90%;
    height: auto;
    display: inline-block;
}

.imgMap {
    max-width: 200px;
    height: auto;
    padding-right: 0;
}

#ads1 {
    grid-area: ads1;
    padding-top: 80px;
}

#ads2 {
    grid-area: ads2;
}

#smallHeader {
    grid-area: smallHeader;
    align-content: center;
    text-align: center;
}

#article {
    grid-area: article;
    font-size: 30px;
    padding: 10px;
}

#footer {
    grid-area: footer;
    background-color: #000000;
    padding-right: 10px;
    align-content: center;
    text-align: right;
    overflow: hidden;
}